* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f; /* Dark premium background */
    font-family: "Neue Montreal", sans-serif;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    color: white;
    z-index: 100;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: absolute;
    width: 120px; 
    height: 170px;
    background: #222;
    cursor: pointer;
    overflow: hidden;
    /* We remove the CSS transform here so it doesn't fight the JS */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}