@import url('https://fonts.cdnfonts.com/css/ice-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    margin: 0;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: hidden;
    background-image: 
        linear-gradient(to right, #e0e0e0 1px, transparent 1px),
        linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
    background-size: 20px 20px;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index: 2;
}

.banner .slider .item {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 0;
    top: 0;
    transform: 
        rotateY(calc(var(--i) * (360 / var(--quantity)) * 1deg)) 
        translateZ(600px);
    transform-style: preserve-3d;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    overflow: hidden;
}

.banner .slider .item::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotateX(180deg) translateY(-100%) scale(0.8, 0.3);
    opacity: 0.3;
    filter: blur(2px);
    z-index: -1;
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    }
}

.banner .slider {
    animation: animate 17s linear infinite;
}